global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
  external_labels:
    monitor: docker-host-alpha
scrape_configs:
  - job_name: 'speedtest multi'
    scrape_interval: 1m
    scrape_timeout: 45s
    metrics_path: /probe
    params:
      script: [speedtest]
    static_configs:
      - targets:  # Each of these servers will be tested
        - 30593
        - 17137
        - 20507
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_params
      - target_label: __address__
        replacement: speedtest-exporter:9469  # The script_exporter's real hostname:port.

  - job_name: 'speedtest single'
    scrape_interval: 1m
    scrape_timeout: 45s
    metrics_path: /probe
    params:
      script: [speedtest]
      params: [30593]  # Only test this single server
    static_configs:
      - targets:
        - speedtest-exporter:9469  # The script_exporter's hostname:port.

  - job_name: 'script_exporter metrics'
    metrics_path: /metrics
    static_configs:
      - targets:
        - speedtest-exporter:9469  # The script_exporter's metrics endpoint
